{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
{% if user.is_authenticated %}
 <h2>Welcome to the Polls App!</h2>
 <h5>Hi, {{ user.username }}.</h5> 
 <p><a href="{% url 'logout' %}">logout</a></p>
 {% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} </a> </li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available</p>
{% endif %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}