h2 {
    text-align: center;
    color: darkblue;
}
h5 {
    text-align: center;
    color: cornflowerblue;
}
p{
    text-align: center;
}

ul {
    text-align: center;
    list-style: inside;
    font-size: 30px; 
    list-style-type: none;
}
li a {
    color: aliceblue;
}
body {
    background-image: url("images/Cubs.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}