{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Polls App</title>{% endblock %}
  {% block styles %}

  {% endblock %}
</head>

<body>
  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>