{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
  <h2 style="text-align: center">You are not logged in</h2>
  <p style="text-align: center"><a href="{% url 'login' %}", style="font-size: 20px">login</a> </p>
  <p style="text-align: center"><a href="{% url 'accounts:signup' %}", style="font-size: 20px">signup</a></p>
{% endblock %}