{% extends 'base_generic.html' %}
{% block content %}
  <h1 style="text-align: center">Sign up</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}